.row.justify-content-center
  .col-md-4
    %h2 Crear cuenta
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control"
      .form-group
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password",class:"form-control"
      .form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control"
      .actions.form-group
        = f.submit "Crear cuenta",class:"btn btn-info"
    = render "devise/shared/links"
