= form_for @assistant do |f|
  - if @assistant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@assistant.errors.count, "error")} prohibited this assistant from being saved:"
      %ul
        - @assistant.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :group
    = f.text_field :group
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :phone
    = f.text_field :phone
  .actions
    = f.submit 'Save'
