%h1 Listing assistants

%table
  %thead
    %tr
      %th Name
      %th Group
      %th Address
      %th Phone
      %th
      %th
      %th

  %tbody
    - @assistants.each do |assistant|
      %tr
        %td= assistant.name
        %td= assistant.group
        %td= assistant.address
        %td= assistant.phone
        %td= link_to 'Show', assistant
        %td= link_to 'Edit', edit_assistant_path(assistant)
        %td= link_to 'Destroy', assistant, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Assistant', new_assistant_path
