%p#notice= notice

%p
  %b Name:
  = @assistant.name
%p
  %b Group:
  = @assistant.group
%p
  %b Address:
  = @assistant.address
%p
  %b Phone:
  = @assistant.phone

= link_to 'Edit', edit_assistant_path(@assistant)
\|
= link_to 'Back', assistants_path
