
=form_tag "search/create", method: :get,remote:true ,id:"search-form"  do
  .row
    .col-md-3
      %label Bebés
      %br
      =select_tag :baby_id, options_for_select(@babies.collect{ |u| [u.name, u.id]}.insert(0,"Selecciona un Bebé")),class:"custom-select"
    .col-md-3
      %label Asistentes
      %br
      =select_tag :assistant_id, options_for_select(@assistants.collect{ |u| [u.name, u.id]}.insert(0,"Selecciona un asistente")),class:"custom-select"
    .col-md-3
      %label Estatus
      %br
      =select_tag :status, options_for_select( ["Todos" ,"Terminado" ,"En progreso"] ),class:"custom-select"
    .col-md-3
      .mt-2
      %br 
        =content_tag :button, type: :submit do
          Filtrar