%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  =link_to root_path ,class:"navbar-brand" do 
    Kinedu
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      -if user_signed_in?
        %li.nav-item.active
          =link_to "Bebés", babies_path ,class:" nav-link"
        %li.nav-item
          =link_to "Actividades", activities_path ,class:" nav-link"
        %li.nav-item
          =link_to "Log de actividades", activity_logs_path ,class:" nav-link"
        %li.nav-item
          
          =link_to "Cerrar sesion", destroy_user_session_path, method: :delete,class:" nav-link"
      -else
        %li.nav-item.active
          =link_to "Iniciar sesion", new_user_session_path ,class:" nav-link"
        %li.nav-item
          =link_to "Crear cuenta", new_user_registration_path ,class:" nav-link"

      