%h1 Resultado del filtro
%table.table.mt-5
  %thead
    %tr
      %th Babé
      %th Asistente
      %th Actividad
      %th Inicio
      %th Estatus
      %th Duracion
      %th
      %th
      %th
  %tbody
    %tr
      %td= activity_log.baby.name
      %td= activity_log.assistant.name
      %td= activity_log.activity.name
      %td.td-dates= activity_log.start_time.strftime("%Y-%m-%d %H:%M")
      %td= activity_log.status == "started" ? "En progreso" : "Terminada" 
      %td= activity_log.duration ? "#{activity_log.duration} min" : "*"
      %td= link_to 'Ver', activity_log
      -if activity_log.status == "started"
        %td= link_to 'Terminar', edit_activity_log_path(activity_log) 
      %td= link_to 'Eliminar', activity_log, method: :delete, data: { confirm: 'Are you sure?' }