= form_for @activity_log do |f|
  - if @activity_log.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity_log.errors.count, "error")} prohibited this activity_log from being saved:"
      %ul
        - @activity_log.errors.full_messages.each do |message|
          %li= message



  .form-group
    %label=@activity_log.start_time
  .form-group
    = f.label :comments
    = f.text_area :comments,class:"form-control"
  .actions.form-group
    = f.submit 'Terminar actividad',class:"btn btn-primary"
