= form_for @activity_log do |f|
  - if @activity_log.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity_log.errors.count, "error")} prohibited this activity_log from being saved:"
      %ul
        - @activity_log.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :baby
    = f.select :baby_id, options_for_select(@babies.collect{ |u| [u.name, u.id]}.insert(0,"Selecciona un Bebé")),class:"custom-select"

  .form-group
    = f.label :assistant
    = f.select :assistant_id, options_for_select(@assistants.collect{ |u| [u.name, u.id]}.insert(0,"Selecciona un asistente")),class:"custom-select"
  .form-group
    = f.label :activity
    = f.select :activity_id, options_for_select(@activities.collect{ |u| [u.name, u.id]}.insert(0,"Selecciona una actividad")),class:"custom-select"
  
  .actions.form-group
    = f.submit 'Iniciar actividad', class:"btn btn-primary"
