%h1 Log de actividades
.mt-5
  =link_to "Nuevo log" , new_activity_log_path
.mt-5.mb-5
  =render "partials/filters"
.mt-5
  #results 

%table.table.mt-5
  %thead
    %tr
      %th Babé
      %th Asistente
      %th Actividad
      %th Inicio
      %th Estatus
      %th Duracion
     
      %th
      %th
      %th
  %tbody
    - @activity_logs.each do |activity_log|
      %tr
        %td= activity_log.baby.name
        %td= activity_log.assistant.name
        %td= activity_log.activity.name
        %td.td-dates= activity_log.start_time.strftime("%Y-%m-%d %H:%M")
        %td= activity_log.status == "started" ? "En progreso" : "Terminada" 
        %td= activity_log.duration ? "#{activity_log.duration} min" : "*"
        %td= link_to 'Ver', activity_log
        -if activity_log.status == "started"
          %td= link_to 'Terminar', edit_activity_log_path(activity_log) 
        %td= link_to 'Eliminar', activity_log, method: :delete, data: { confirm: 'Are you sure?' }
%br
.text-center.mb-5
  = will_paginate @activity_logs 
