%p#notice= notice

%p
  = @activity_log.id
%p
  %b Baby:
  = @activity_log.baby
%p
  %b Assistant:
  = @activity_log.assistant
%p
  %b Activity:
  = @activity_log.activity
%p
  %b Start time:
  = @activity_log.start_time
%p
  %b Stop time:
  = @activity_log.stop_time
%p
  %b Duration:
  = @activity_log.duration
%p
  %b Comments:
  = @activity_log.comments

= link_to 'Edit', edit_activity_log_path(@activity_log)
\|
= link_to 'Back', activity_logs_path
