.mt-5.mb-5
  = form_for @baby do |f|
    - if @baby.errors.any?
      #error_explanation
        %h2= "#{pluralize(@baby.errors.count, "error")} prohibited this baby from being saved:"
        %ul
          - @baby.errors.full_messages.each do |message|
            %li= message

    .form-group
      = f.label :name
      = f.text_field :name,class:"form-control"
    .form-group
      = f.label :birthday
      = f.date_select :birthday,class:"form-control"
    .form-group
      = f.label :mother_name
      = f.text_field :mother_name,class:"form-control"
    .form-group
      = f.label :father_name
      = f.text_field :father_name,class:"form-control"
    .form-group
      = f.label :address
      = f.text_field :address,class:"form-control"
    .form-group
      = f.label :phone
      = f.text_field :phone,class:"form-control"
    .actions.form-group
      = f.submit 'Guardar',class:"btn btn-primary"
