%h1 Lista de bebés
.mt-5.mb-5
  = link_to 'Inscribir bebé', new_baby_path
%table.table
  %thead
    %tr
      %th Name
      %th Birthday
      %th Mother name
      %th Father name
      %th Address
      %th Phone
      %th
      %th
      %th

  %tbody
    - @babies.each do |baby|
      %tr
        %td= baby.name
        %td.td= baby.birthday
        %td= baby.mother_name
        %td= baby.father_name
        %td= baby.address
        %td.td= baby.phone
        %td= link_to 'Ver', baby
        %td= link_to 'Editar', edit_baby_path(baby)
        %td= link_to 'Eliminar', baby, method: :delete, data: { confirm: 'Are you sure?' }

%br


