%p#notice= notice

%p
  %b Name:
  = @baby.name
%p
  %b Birthday:
  = @baby.birthday
%p
  %b Mother name:
  = @baby.mother_name
%p
  %b Father name:
  = @baby.father_name
%p
  %b Address:
  = @baby.address
%p
  %b Phone:
  = @baby.phone

= link_to 'Edit', edit_baby_path(@baby)
\|
= link_to 'Back', babies_path
