$colors:(

red: #FF0000,
blue: #0D7DFF,
white: #ffffff

);

@each $color_name,$color in $colors{
	
.#{$color-name}{
	background-color:$color !important;
}
.#{$color-name}-text {
	color:$color !important;
 }
}