= form_for @activity do |f|
  - if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name,class:"form-control"
  .form-group
    = f.label :description
    = f.text_field :description,class:"form-control"
  .actions.form-group
  
    = f.submit 'Guardar',class:"btn btn-primary"
