%h1 Lista de actividades
.mt-5.mb-5
  = link_to 'Nueva Actividad', new_activity_path
%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @activities.each do |activity|
      %tr
        %td.td= activity.name
        %td= activity.description
        %td= link_to 'Ver', activity
        %td= link_to 'Editar', edit_activity_path(activity)
        %td= link_to 'Eliminar', activity, method: :delete, data: { confirm: 'Are you sure?' }

%br


